h1
{
    background-color: red;
}

img

{

border: solid red 4px;
   padding: 4px; 
   margin: 10px 10px 10px 10px;
   width: 200px;
   height: 200px;

   
}
.pictures
{
    display: block;
    background-color: aquamarine;


    ;
}

