#welcome
{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-style: normal;
    color:#02FFFF;
    position: relative;
   text-align:center;
    
    
}
body{
    margin: 30px 30px 30px 30px red;
}tom
 #welcome
